.ReportGenerator-button {
    background-color: #1A4A5A; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    transition: background-color 0.3s, transform 0.3s; /* Transição suave */
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .ReportGenerator-button:hover {
    background-color: #155a6e; /* Cor de fundo ao passar o mouse */
  }
  
  .ReportGenerator-button:active {
    transform: scale(0.98); /* Efeito de clique */
  }
  